.git
app/api/node_modules/
app/dashboard/node_modules/
app/dashboard/dist
service_account.json
README.md
app/dashboard/dist
output/*

node_modules/
secrets.txt
.env
uploads/
output/

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist/
tmp/
out-tsc/
# Only exists if Bazel was run
bazel-out/

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings/t

# System Files
.DS_Store
Thumbs.db
cloud_sql_proxy
service_account.json
cloud_sql_socket/