<div class="container mt-5">
    <div class="alert alert-success" role="alert" id="success_box"></div>
    <div class="alert alert-danger" role="alert" id="fail_box"></div>
  
    <div class="input-group mt-4">
      <span class="input-group-text">ISBN</span>
      <input type="text" class="form-control" (keydown.enter)="onIsbnKeydown($event)" />
    </div>
  
    <div class="input-group mt-4">
      <span class="input-group-text">Box ID</span>
      <input type="text" class="form-control" id="box" />
    </div>
    <div id="logs" class="logs mt-4"></div>
    <div id="prompts" class="mt-4"></div>
  </div>