<div class="container mt-5">
    <div class="alert alert-success" role="alert" id="success_box">
      {{ currentValueBox }}
    </div>
    <div class="alert alert-danger" role="alert" id="fail_box">
      {{ currentFailBox }}
    </div>
    <div class="alert alert-primary" role="alert" id="fail_box">
      {{ currentMailBox }}
    </div>




    <div>
      <div class="input-group mt-4">
        <span class="input-group-text">Index</span>
        <input
          type="text"
          class="form-control"
          #index
        />
      </div>
      <div class="input-group mt-4">
        <span class="input-group-text">Page</span>
        <input
          type="text"
          class="form-control"
          #page
        />
      </div>
      <button class="btn btn-primary" (click)="setPrintVals()">Save</button>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked value="profit" (change)="changeBehavior($event)">
      <label class="form-check-label" for="flexRadioDefault1">
        Profit Check
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="print" (change)="changeBehavior($event)">
      <label class="form-check-label" for="flexRadioDefault2">
        Print FNSKU
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="boxContents" (change)="changeBehavior($event)">
      <label class="form-check-label" for="flexRadioDefault3">
        Box contents
      </label>
    </div>

    <button class="btn btn-primary" (click)="getFNSKU()">Get FNSKUs</button>


  
    <div class="input-group mt-4">
      <span class="input-group-text">ISBN/Box ID</span>
      <input
        type="text"
        class="form-control"
        (keydown.enter)="onInputKeydown($event)"
        #mainInput
      />
    </div>

  
    <div id="logs" class="logs mt-4">
        <ng-container *ngFor="let text of logData">
            <p>{{text}}</p>
        </ng-container>
    </div>
    <div id="prompts" class="mt-4" *ngIf="question">
      <h3>{{ question }}</h3>
  
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <ng-container *ngFor="let option of options; let i = index">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ option }}</h5>
                <button class="btn btn-primary" (click)="promptRes(i)">
                  Select
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  